server:
  port: 8000

spring:
  application:
    name: gateway
  cloud:
    nacos:
      server-addr: ${NACOS_SERVER:127.0.0.1:8848}
      username: nacos
      password: nacos
      config:
        file-extension: yaml
        import-check:
          enabled: false
    gateway:
      discovery:
        locator:
          enabled: true