<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aacopy.cm.auth.mapper.ClientMapper">
  <resultMap id="BaseResultMap" type="cn.aacopy.cm.auth.model.entity.ClientDO">
    <!--@mbg.generated-->
    <!--@Table client-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="client_secret" jdbcType="VARCHAR" property="clientSecret" />
    <result column="redirect_uris" jdbcType="VARCHAR" property="redirectUris" />
    <result column="consent" jdbcType="TINYINT" property="consent" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, client_id, client_secret, redirect_uris, consent, app_id, create_by, create_time, 
    update_by, update_time, deleted
  </sql>
</mapper>